@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@page {
    margin: 2.54cm;
    size: A4;
    /* Page numbers, does not really work on most browsers. */
    @bottom-right {
        padding-right: 20px;
        content: "Page " counter(page);
    }
}

@media print {
    
    
    #table-of-contents {
        /* Page break after table of contents */
        page-break-after: always;
        margin-top: 2em;
        line-height: 1.5em;
        
        margin: auto auto;
    }

    #table-of-contents > h2 {
	text-align: center;
	margin-top: 4em;
    }

    h2, h3, h4, h5 {
        page-break-after: avoid;
    }
    
    .figure {
        /* Figure stays together with caption */
        page-break-inside: avoid;
    }
    
}


:root{
    background-color: #0F5132;
}
@media print {
    p, h1, h2, h3, h4, h5, h6, ul, ol, li, pre {
       
       page-break-inside: avoid !important;
       break-inside: avoid;
    }
}
/* Stile del corpo e del font */
body {
    display: flex;
    flex-direction: column;
    font-family: "PT Serif","Host Grotesk",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    color: #3F6456;
    max-width: 800px;
    margin: 2em auto;
    padding: 3em;
    border-style: solid;
    border-radius: 0.55rem;
    border-color: #0F5132;
    background-color: #F1F9F5;
    min-height: 1131px;
}

/* Titoli */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: "Host Grotesk", Roboto;
    color: #14452F;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.2em;
    border-bottom: 2px solid #0a5c36;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    border-bottom: 1px dashed #ecf0f1;
}

/* Stile per i paragrafi */
p {
    font-size: 16px;
    margin-bottom: 1em;
}

/* Liste */
ul, ol {
    margin-left: 20px;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
}

/* Codice e blocchi di codice */
code {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 4px;
    color: #c0392b;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-left: 3px solid #0F5132;
    overflow-x: auto;
    border-radius: 4px;
}

/* Tabelle */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Link */
a {
    color: #0a5c36;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Immagini */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

/* Autore */
.author{
    
    color: #0A5C36;
    font-style: italic;
    border-style: solid;
    padding: 1rem;
    border-radius: 0.35rem;
}

/*Immagini*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
